<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/breeds">Breeds</a>
      <a mat-list-item routerLink="/search">Search</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/register">Register</a>
      <a mat-list-item routerLink="/profile">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Cat App</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>